<div class="container">

    <div class="row " style="padding-bottom: 10px;">

        <div class="column" style="padding-left:10px ;">
            <div>
                <h2>Clients</h2>
            </div>
            <button mat-raised-button>Export</button>
        </div>
        <mat-form-field class="search-field">
            <input matInput placeholder="Buscar">

        </mat-form-field>

    </div>
    <div class="row">
        <div fxFlex.gt-sm="100%" fxFlex.lt-md="100%" fxLayoutAlign="center center" class="left">
            <mat-card>
                <mat-card-content>
                    <form fxLayout="column" [formGroup]="clientForm">
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Placeholder" type="email" formControlName="email">
                        </mat-form-field>
                        <div *ngIf="(email.invalid && email.touched) || email.dirty">
                            <small *ngIf="email.errors?.['required']" class="text-danger">Email es un campo
                                requerido</small>
                            <!--question mark(?) is a safe navigation operator-->
                            <small *ngIf="email.errors?.['pattern']" class="text-danger">Porfavor Ingresa un correo
                                valido</small>
                        </div>

                        <mat-form-field appearance="outline">
                            <mat-label>Nombre Completo</mat-label>
                            <input matInput placeholder="Placeholder" type="text" autocomplete="off"
                                formControlName="name">
                        </mat-form-field>
                        <div *ngIf="(name.invalid && name.touched) || name.dirty">
                            <small *ngIf="name.errors?.['required']" class="text-danger">Nombre es un campo
                                requerido</small>
                            <!--question mark(?) is a safe navigation operator-->
                        </div>

                        <mat-form-field appearance="outline">
                            <mat-label>User name</mat-label>
                            <input matInput placeholder="Placeholder" type="text" autocomplete="off"
                                formControlName="userName">
                        </mat-form-field>
                        <div *ngIf="(userName.invalid && userName.touched) || userName.dirty">
                            <small *ngIf="userName.errors?.['required']" class="text-danger">userName es un campo
                                requerido</small>
                            <!--question mark(?) is a safe navigation operator-->
                        </div>

                        <mat-form-field appearance="outline">
                            <mat-label>Telefono</mat-label>
                            <input matInput placeholder="Placeholder" type="text" autocomplete="off"
                                formControlName="phone">
                        </mat-form-field>
                        <div *ngIf="(phone.invalid && phone.touched) || phone.dirty">
                            <small *ngIf="userName.errors?.['required']" class="text-danger">Telefono es un campo
                                requerido</small>
                            <!--question mark(?) is a safe navigation operator-->
                        </div>

                        <mat-form-field appearance="outline">
                            <mat-label>Documento</mat-label>
                            <input matInput placeholder="Placeholder" type="text" autocomplete="off"
                                formControlName="document">
                        </mat-form-field>
                        <div *ngIf="(document.invalid && document.touched) || document.dirty">
                            <small *ngIf="document.errors?.['required']" class="text-danger">Documento es un campo
                                requerido</small>
                            <!--question mark(?) is a safe navigation operator-->
                        </div>




                        <button class="button" mat-raised-button [disabled]="!clientForm.valid" (click)="createClient()"
                            color="primary">Crear Usuario</button>
                    </form>
                </mat-card-content>

            </mat-card>

            <mat-card>
                <mat-card-content>
                    <table *ngIf="!loading" mat-table [dataSource]="dataSource">
                        <caption>Tablas de los prospectos</caption>
                        <!-- Position Column -->
                        <ng-container matColumnDef="name">
                          <th mat-header-cell *matHeaderCellDef> Nombre. </th>
                          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>
                      
                        <!-- Name Column -->
                        <ng-container matColumnDef="userName">
                          <th mat-header-cell *matHeaderCellDef> UserName </th>
                          <td mat-cell *matCellDef="let element"> {{element.clientId.userName}} </td>
                        </ng-container>
                      
                        <!-- Weight Column -->
                        <ng-container matColumnDef="email">
                          <th mat-header-cell *matHeaderCellDef> Email </th>
                          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="document">
                            <th mat-header-cell *matHeaderCellDef> Documento </th>
                            <td mat-cell *matCellDef="let element"> {{element.clientId.document}} </td>
                          </ng-container>

                          <!-- Weight Column -->
                        <ng-container matColumnDef="phone">
                            <th mat-header-cell *matHeaderCellDef> Télefono </th>
                            <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
                          </ng-container>
                          <!-- Weight Column -->
                        <ng-container matColumnDef="fechaAdd">
                            <th mat-header-cell *matHeaderCellDef> Fecha creación </th>
                            <td mat-cell *matCellDef="let element"> {{element.dateAdded}} </td>
                          </ng-container>
                      
                        <!-- Symbol Column -->
                        <ng-container matColumnDef="actions">
                          <th class="text-center" mat-header-cell *matHeaderCellDef> Acciones </th>
                      
                          <td class="text-center" mat-cell *matCellDef="let row">
                            <button mat-button (click)="openDialog(row)">EDIT</button>
                          </td>
                          <td class="text-center" mat-cell *matCellDef="let row">
                            <button mat-button (click)="openDialog(row)">Borrar</button>
                          </td>
                        </ng-container>
                      
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      
                        <!-- Row shown when there is no matching data. -->
                        <tr class="mat-row" *matNoDataRow>
                          <td class="mat-cell" colspan="4">No data matching the filter </td>
                        </tr>
                      </table>
                </mat-card-content>
            </mat-card>
        </div>

    </div>


    
   
    
</div>
